<a href="https://colab.research.google.com/github/frankcsa78/PowerBI-DataScience/blob/master/WebScraping_App.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# importando todos os modulos de dependencia
import pandas as pd
from urllib.request import urlopen
from urllib.error import HTTPError, URLError
from bs4 import BeautifulSoup

In [12]:
# url Base
url = 'https://www.imdb.com/chart/top/'

In [35]:
try:
  html = urlopen('https://www.imdb.com/chart/top/')
except HTTPError as e:
  print(e)
except URLError as e:
  print('O URL não foi encontrado')

In [36]:
# criar a instancia de BeautifulSoup
bs = BeautifulSoup(html, 'lxml')
# selecionar todos os elementos tr dentro da classe Lister-list
movies = bs.select('.lister-list tr')

In [37]:
# criando as listas para armazenar os dados que serão extraidos do site
titles = []
directors_writers = []
years = []
ratings = []

In [45]:
# criando o loop for para inserir os dados dentro das nossas listas
for movie in movies:
  # inserir o nome do filme
  titles.append(movie.find('td', class_='titleColumn').find('a').get_text())
  # inserir os nomes dos diretores e/ou roteristas e/ou elenco principal
  directors_writers.append(movie.find('td', class_='titleColumn').find('a')['title'])
  # inserir os anos de lançamento dos filmes
  years.append(movie.find('td', class_='titleColumn').find('span').get_text()[1:5])
  # inserir as notas de classificação de cada um dos filmes
  ratings.append(movie.find('td', class_='imdbRating').find('strong').get_text())

In [46]:
# Intro ao Pandas - criação do DataFrame
df = pd.DataFrame({'Titulo': titles, 'Ano de lançamento': years,
                   'Classificação': ratings, 
                   'Diretores ou roteristas': directors_writers})

In [50]:
df

                        Titulo  ...                            Diretores ou roteristas
0     The Shawshank Redemption  ...  Frank Darabont (dir.), Tim Robbins, Morgan Fre...
1                The Godfather  ...  Francis Ford Coppola (dir.), Marlon Brando, Al...
2       The Godfather: Part II  ...  Francis Ford Coppola (dir.), Al Pacino, Robert...
3              The Dark Knight  ...  Christopher Nolan (dir.), Christian Bale, Heat...
4                 12 Angry Men  ...      Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb
..                         ...  ...                                                ...
245        The Invisible Guest  ...       Oriol Paulo (dir.), Mario Casas, Ana Wagener
246  A Silent Voice: The Movie  ...      Naoko Yamada (dir.), Miyu Irino, Saori Hayami
247       Miracle in cell NO.7  ...  Mehmet Ada Öztekin (dir.), Aras Bulut Iynemli,...
248      The Battle of Algiers  ...  Gillo Pontecorvo (dir.), Brahim Hadjadj, Jean ...
249                   The Help  ...        Tate Taylor (dir.), Emma Stone, Viola Davis

[250 rows x 4 columns]

In [48]:
# gerando o arquivo .csv do nosso dataframe
df.to_csv('WebScraping-IMBD.csv')

In [49]:
# gerando o arquivo .xlsx do nosso dataframe
df.to_excel('WebScraping-IMBD.xlsx')